/* Lista de estilos Generales*/

article{
    width: 70%;
}
aside{
    width: 30%;
}

article, aside{
    float: left;
}
/* header{
    width: 100%;
    height: 200px;
    background-color:rgb(24, 24, 53);
    color: #f1f2f3;
    /* margin: 50px; */
    /* background-image: url('../img/banner.png');
    background-size:cover;
    background-repeat:no-repeat;
 } */ 
#banner {
    width: 100%;
    height: auto; /* ajusta la altura según tus necesidades */
    background-image: url('../img/banner1.png');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 500px;
  }
body {
    background-color: #f8f7fd;
    
}
footer { 
    width: 100%;
    height: 200px;
    background-color: rgb(65, 65, 65);
    color:white;
    display:inline-flex;
    text-transform: uppercase;
}

h2{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}
nav{
    width: 100%;
    height: 100px;
    /* padding: 5px; */
    background-color: black;
    /* display:inline-flex; */
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /* padding: 10px; */
    display:block;
}


nav :hover{
    color: slategray;
    background-color: #040b64;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display:block;
} 


/* estilo id */
#parrafo2{
    text-align: justify;
    color: rgb(34, 7, 95);
}

/* section { 
    height: 600px;
    background-color: #585861;
} */
/* Estilo clase */
.texto1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:maroon;
}
.col-footer{
    display: inline-block;
    width: 20%;
}
.col-footer-max{
    width: 59%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
/* .footer{
    margin: 10px;
    padding: 10px;
} 
.nav{
    margin: 10px;
    padding: 10px;
}  */

.text-footer{
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}

.grid-barra {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-gap: 10px; */
    padding: 15px;
    background-color: black;
    align-items: center;
}
.grid-footer {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    padding: 15px;
    background-color: rgb(65, 65, 65);
}
.barra{
    width: 100%;
    background-color: black;
}
.contenedor{
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}


footer ul li {
    background-color: rgb(65, 65, 65);;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display:block;
}
   /* footer ul li a:hover{
    color: slategray;
    background-color: #5e074f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display:block;
} */

/** utilidades **/
.seccion { 
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.iconos-nosotros {
    display:flex;
    justify-content:space-between;
}
.icono { 
    flex-basis: calc(20%-1rem);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}